/* DESKTOP VIEW */
@media (max-width: 1200px) {}

/* LAPTOP VIEW */
@media (max-width: 1024px) {

    header {
        padding: 0px 30px;
    }

    .navLogo img {
        width: 200px;
    }

    .navBar li a {
        padding: 0px 5px;
    }

    .homeContent h1,
    .aboutContent h1,
    .secServices h1,
    .secSkills h1,
    .secContact h1 {
        font-size: 50px;
    }

    .servicesCol {
        padding: 20px;
    }

    .homeImage img,
    .secAbout img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .contactPerson h1 {
        font-size: 25px;
    }

}

/* TABLET VIEW */
@media (max-width: 768px) {

    .homeContent h3 {
        font-size: 30px;
    }

    .menuBtn i {
        display: block;
    }

    #click:checked~.menuBtn i:before {
        content: "\f00d";
    }

    .navBar li {
        display: block;
        font-weight: lighter;
        margin: 30px 0px;
    }

    .navBar ul {
        display: block;
        padding: 20px;
        background-color: #e2e8ecdd;
        box-shadow: #D1D9E6 0px 5px 15px;
        position: fixed;
        z-index: 120;
        top: 80px;
        left: -50%;
        text-align: center;
        transition: 0.8s;
        border-radius: 0 0 5px 0;
    }

    #click:checked~ul {
        left: 0;
    }

    .secHome {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .homeImage img,
    .secAbout img {
        height: auto;
    }

    .secAbout {
        display: block;
        flex-direction: column;
        text-align: center;
    }

    .servicesCol {
        margin-top: 30px;
        flex-basis: 48%;
    }

    #serviceColtab {
        flex-basis: 100%;
    }

    .skillsRow {
        display: block;
        flex-direction: column;
    }

    .skillsCol {
        margin-top: 30px;
    }

    .contactRow {
        flex-direction: column;
    }

    .contactCol2 {
        margin-top: 20px;
    }
}

/* MOBILE VIEW */
@media (max-width: 576px) {

    .homeContent h1,
    .aboutContent h1,
    .secServices h1,
    .secSkills h1,
    .secContact h1 {
        font-size: 40px;
    }

    .homeContent h3 {
        font-size: 20px;
    }

    .servicesRow1,
    .servicesRow2 {
        display: block;
    }

    .contactPerson h1 {
        font-size: 30px;
    }

}