/* GOOGLE FONT LINK */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Cuprum:wght@400;700&family=Poppins&family=Roboto&family=Ubuntu:wght@400;700&family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}

body {
    color: #ffffff;
    background-color: #1e2125;
}

span {
    color: #fd0847;
    white-space: nowrap;
}

a {
    color: #c4cfde;
    text-decoration: none;
}

/* START NAVBAR */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    transition: background-color 0.5s ease;
    backdrop-filter: blur(5px);
    background-color: #1e212590;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navLogo img {
    width: 200px;
}

.navTitle {
    display: flex;
    align-items: center;
}

.navTitle h3 {
    padding-left: 10px;
    letter-spacing: 10px;
    font-weight: lighter;
}

.navBar li {
    display: inline-block;
    font-weight: lighter;
}

.navBar li a {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 4px;
    padding: 0px 20px;
}

.navBar li a:hover {
    color: #fd0847;
    transition: 0.4s;
}

.active a {
    color: #fd0847;
    font-weight: bold;
}

/* MENU BUTTON FOR RESPONSIVE */
.menuBtn i {
    color: ##fd0847;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

#click {
    display: none;

}

/* START HOME */
.secHome {
    padding: 100px 0px 30px 0px;
    margin: 0px 80px;
    border-bottom: 1px solid #000000;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homeContent {
    margin-top: 30px;
    flex-basis: 55%;
}

.homeWell {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.homeContent h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.homeContent h2 {
    letter-spacing: 3px;
}

.HomeSum {
    text-align: justify;
    line-height: 26px;
    margin: 30px 0px 70px 0px;
}

.contactBox li{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: linear-gradient(145deg, #121416, #23272b);
    box-shadow: #0b0c0e 0px 5px 15px -5px, #0b0c0e 0px 5px 15px -5px;
    border-radius: 10px;
    margin: 10px;
}
.contactBox li:hover {
    background-image: linear-gradient(145deg, #8a173a, ##fd0847);
    scale: 1.1;
    transition: 0.4s;
}

.contactBox a {
    color: #fd0847;
    display: inline-block;
    font-size: 30px;
    padding: 12px 16px;
}

.contactBox a:hover {
    color: #0b0c0e;
}

.homeImage {
    flex-basis: 30%;
    text-align: center;
}

.homeImage img {
    height: 100%;
    box-shadow: #0b0c0e 0px 30px 60px -12px, #0b0c0e 0px 30px 60px -18px;
    border-radius: 20px;
}

/* START ABOUT */
.secAbout {
    padding: 100px 0px 30px 0px;
    margin: 0px 80px;
    border-bottom: 1px solid #000000;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutImage {
    flex-basis: 40%;
}

.aboutImage img {
    height: 100%;
    box-shadow: #0b0c0e 0px 30px 60px -12px, #0b0c0e 0px 30px 60px -18px;
    border-radius: 20px;
}

.aboutContent {
    flex-basis: 50%;
}

.aboutContent h1 {
    font-size: 60px;
    margin: 40px 0px;
}

.aboutContent p {
    line-height: 26px;
    text-align: justify;
}

.aboutContent a {
    color: #fd0847;
    display: inline-block;
    background-image: linear-gradient(145deg, #121416, #23272b);
    box-shadow:10px 10px 10px #1c1e22, -10px -10px 10px #1c1e22;
    border-radius: 10px;
    font-size: 20px;
    margin: 40px 0px;
    padding: 10px 25px;
}

.aboutContent a:hover {
    color: #0b0c0e;
    background-image: linear-gradient(145deg, #8a173a, #fd0847);
    scale: 1.1;
    transition: 0.4s;
}

/* START SERVICES */
.secServices {
    padding: 100px 0px 30px 0px;
    margin: 0px 80px;
    border-bottom: 1px solid #000000;
    height: auto;
}

.serviceText h1 {
    font-size: 60px;
    text-align: center;
}

.servicesRow1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.servicesCol {
    margin-top: 50px;
    color: #fd0847;
    flex-basis: 30%;
    padding: 50px;
    background-image: linear-gradient(145deg, #1b1d20, #23272b);
    box-shadow:10px 10px 10px #1c1e22, -10px -10px 10px #1c1e22;
    border-radius: 15px;
}

.servicesCol i {
    font-size: 50px;
}

.servicesCol i:hover {
    scale: 1.5;
    transition: 0.6s;
}

.servicesCol h3 {
    color: #c4cfde;
    margin: 20px 0px;
}

.servicesCol p {
    color: #c4cfde;
    line-height: 26px;
}

.servicesRow2 {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
}


/* START SKILLS */
.secSkills {
    padding: 100px 0px 30px 0px;
    border-bottom: 1px solid #000000;
    margin: 0px 80px;
    height: 100vh;
    text-align: center;
}

.skillsText h1 {
    font-size: 60px;
}

/* START CONTACT*/
.secContact {
    padding: 100px 0px 30px 0px;
    border-bottom: 1px solid #000000;
    margin: 0px 80px;
    height: 100vh;
    text-align: center;
}

.contactText h1 {
    font-size: 60px;
}

/* START FOOTER */
Footer {
    height: 280px;
    text-align: center;
}

Footer img {
    width: 200px;
    margin: 35px;
}

footer p {
    margin: 20px;
}